* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
	outline: none;
	-webkit-user-drag: none;
	-webkit-tap-highlight-color: transparent;
	font-family: 'Montserrat', sans-serif;
}

*:focus {
	outline: none;
}

body {
	--green: #4caf50;
	--blue: #2196f3;
	--lightblue: #91e5fd;
	--purple: #8a7df7;
	--red: #d11335;
	--white: #fff;
	font-size: 15px;
	overflow-x: hidden;
	background: #f5f5f5;
}

button {
	transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}

button:hover {
	transform: scale(1.1);
}

/* LISTAS */

ul,
ol {
	list-style: none;
}

/* LINK */

a {
	text-decoration: none;
}

@media screen and (max-width: 500px) {
	body {
		font-size: 14px;
	}
}
