.input {
	margin-top: 20px;
	appearance: none;
	height: 50px;
	border: none;
	background-color: #f5f5f5;
	font-size: 18px;
	font-weight: 700;
	color: #333;
	padding: 15px;
	border-radius: 8px;
	width: 100%;
}
